div.zxf_pagediv{
	text-align: right;
	color: #999999;
	padding: 20px 0 19px 0;
	margin-top: 8%;
}
div.zxf_pagediv a{
	text-decoration: none;

}
div.zxf_pagediv span,div.zxf_pagediv a{
	display: inline-block;
	box-sizing: border-box;
}
.leftWarp{
	float:left;
}
.current{
	color: #ffffff;
	background: #3c92f5;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 3px;
	border: 1px solid #3c92f5;
  font-size: 12px;
  margin: 0 2.5px;
	text-align: center;
}
.zxfPagenum{
	color: #666;
	background: #fff;
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin: 0 2.5px;
	border-radius: 3px;
	border: 1px solid #cddae5;
  font-size: 12px;
	text-align: center;
}
.nextpage{
	margin: 0 2.5px;
}
.nextbtn,.prebtn,span.disabled{
	color: #666;
	background: #fff;
	width: 18px;
	height: 18px;
	line-height: 17px;
	border-radius: 3px;
	border: 1px solid #cddae5;
  margin: 0 2.5px;
	text-align: center;
}
.zxfinput{
	width: 50px;
	height: 42px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #E6E6E6;
	margin: 0 12px;
	border-radius: 3px;
	color: #666;
}
.zxfokbtn{
	width: 48px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #E6E6E6;
	margin-left: 10px;
	cursor:pointer;
	border-radius: 3px;
	background: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
